.container {
  display: flex;

  .half {
    flex: 1;
    padding: 1rem;
  }
}

.joke {
  border: solid 1px #ccc;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}
