<h1>The Joke <em>Dada</em>base</h1>
<div class="container">
  <div class="half">
    <div>
      <input type="text" id="search-box">
    </div>
    <div>
      <select id="category">
        <option value="">All</option>
        <option value="punny">Punny</option>
        <option value="groaner">Groaner</option>
        <option value="parenting">Parenting</option>
        <option value="wife">Wife</option>
        <option value="sick">Sick</option>
      </select>
    </div>

  </div>
  <div class="half">

  </div>
</div>
